<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="config_path" default="$(find point_cloud_projection)/configs/config.yaml"/>

  <node pkg="point_cloud_projection"
        type="ColoriseScan"
        name="point_cloud_projection"
        output="screen">
    <param name="config_path" value="$(arg config_path)"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find point_cloud_projection)/configs/vis.rviz">
  <param name="output" value="screen"/>
  </node>

</launch>
